{% extends 'base.html' %}
{%load static %}
{%block content%}
<!-- About-->
<div class="container">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">About</h2>
    </div>
    <ul class="timeline">
        <li>
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'img/about/42096.jpg' %}" width="600" height="600" alt="" /></div>

            <div class="timeline-panel">
                <div class="timeline-heading">
                    <a href="https://www.freepik.com/vectors/business">Business vector created by macrovector - www.freepik.com</a>
                    <h4 class="subheading">This page sucks, but don't worry, we will fix it for your kidney</h4>
                </div>
                <div class="timeline-body"><p class="text-muted">Here are more words</p></div>
            </div>
        </li>                    
    </ul>
</div>
{%endblock%}