{% extends 'base.html' %}
{%load static%}
{%block content%}
<!-- Masthead-->

<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome to Kidney Health!</div>
        <div class="masthead-heading text-uppercase">We Care About Your Kidneys :)</div>
        <div> <img class="img-fluid rounded-circle mb-4" src="{% static 'img/kidney.jpg' %}" alt="..." /</div>
        <div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'about' %}">Learn More!</a>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'login' %}">Log in</a>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'boot' %}">bootstrap page</a>
        </div>
    </div>
</header>
{% endblock%}